* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

a:hover {
  color: var();
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}
ul li {
  display: flex;
  list-style: none;
  text-decoration: none;
}
ul li a {
  text-decoration: none;
  color: #EFEFEF;
}
ul li a:hover {
  text-decoration: underline;
  color: #dbdbdb;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover {
  color: #dbdbdb;
}

header {
  background-color: #3C3C35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 5px #5A4AE3;
}
header nav {
  text-shadow: 1px 1px 0px grey;
  width: 30%;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
header ul {
  display: flex;
  justify-content: space-around;
}

.c-blanco {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.logo-frive {
  width: 130px;
  height: 130px;
  border-radius: 40px;
  position: relative;
}

@media (max-width: 480px) {
  .logo-frive {
    width: 50px;
    height: 50px;
  }
  header nav {
    width: 90%;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
  ul li a {
    font-size: 0.9rem;
  }
}
footer div a {
  background-color: #525456;
  margin: 0px 60px;
}

.socials {
  display: flex;
  justify-content: center;
  background-color: #525456;
  padding: 20px;
}

footer article {
  display: flex;
  justify-content: center;
  background-color: #3C3C35;
  color: #EFEFEF;
}

.texto-footer {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.socials a i {
  font-size: 2rem;
  color: white;
  transition: 0.2s;
}
.socials a i:hover {
  color: #5A4AE3;
}

.form-inputs1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: grey 2px 1px 1px;
}
.form-inputs1 input {
  padding: 10px;
  width: 90%;
  border: solid black 1px;
  border-radius: 10px;
  font-size: 1rem;
}

.form-inputs3 {
  display: flex;
  justify-content: flex-end;
}
.form-inputs3 input {
  padding: 7px;
  border-radius: 20px;
  border: solid black 1px;
  font-size: 1rem;
  background-color: white;
  transition: 0.2s;
}
.form-inputs3 input:hover {
  border: solid black 1px;
  background-color: #1c1742;
  color: white;
}

@media (max-width: 480px) {
  .form-inputs3 {
    justify-content: center;
  }
}
.botn {
  border: solid 2px black;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #EFEFEF;
  background-color: #5A4AE3;
  padding: 5px 15px;
  transition: 0.7s;
}
.botn:hover {
  border: solid 2px black;
  background-color: #EFEFEF;
  color: #5A4AE3;
}
.botn .form-inputs3 {
  display: flex;
  justify-content: flex-end;
}
.botn .form-inputs3 input {
  padding: 7px;
  border-radius: 20px;
  border: solid black 1px;
  font-size: 1rem;
  background-color: white;
  transition: 0.2s;
}
.botn .form-inputs3 input:hover {
  border: solid black 1px;
  background-color: #1c1742;
  color: white;
}

@media (max-width: 480px) {
  .botn {
    border: solid 2px black;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #EFEFEF;
    background-color: #5A4AE3;
    padding: 5px 15px;
    transition: 0.7s;
  }
  .botn:hover {
    border: solid 2px black;
    background-color: #EFEFEF;
    color: #5A4AE3;
  }
}
body {
  background-color: #EFEFEF;
}

.contenedor-index {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-ofertas {
  width: 75%;
  height: 700px;
  background-color: #5A4AE3;
  color: #EFEFEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  margin: 10px;
  justify-content: space-around;
  padding: 30px;
}

.ofertas-imagenes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.ofertas-imagenes img {
  border-radius: 30px;
}

.box-ofertas p {
  font-size: 1.7rem;
  text-align: center;
}
.box-ofertas h2 {
  font-size: 3rem;
  font-weight: bold;
}

.box-nuevosingresos {
  width: 75%;
  height: 700px;
  background-color: #dbdbdb;
  color: black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}
.box-nuevosingresos h2 {
  font-size: 3rem;
  font-weight: bold;
  background-color: grey;
  color: white;
  border-radius: 30px;
  padding: 10px;
}

.ingresos-contenido {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.ingresos-imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingresos-imagenes p {
  position: relative;
  top: 60px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.box1 p {
  position: relative;
  top: 15px;
}

.box-nuevosingresos button {
  padding: 10px;
  border-radius: 15px;
  font-size: bold;
  background-color: #5A4AE3;
  color: #EFEFEF;
  border: solid black 1px;
  transition: 0.2s;
}
.box-nuevosingresos button:hover {
  background-color: white;
  color: #5A4AE3;
}

.box-nuevosingresos p {
  font-size: 1.7rem;
}

.box1 {
  position: relative;
  left: 70px;
}

@media (max-width: 480px) {
  .box-ofertas {
    width: 80%;
    height: auto;
    padding: 20px;
  }
  .contenedor-index p {
    font-size: 1.2rem;
  }
  .ofertas-imagenes {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
  }
  .ofertas-imagenes img {
    width: 90%;
    margin: 10px;
  }
  .ofertas-imagenes img:last-child {
    width: 70%;
  }
  .box-nuevosingresos {
    width: 80%;
  }
  .ingresos-contenido {
    flex-direction: column;
    width: 70%;
    align-content: center;
  }
  .box1 {
    left: 0;
  }
  .box1 p {
    top: 0;
  }
  .box-nuevosingresos h2 {
    font-size: 2rem;
    font-weight: bold;
    background-color: grey;
    color: white;
    border-radius: 30px;
    padding: 10px;
  }
  .ingresos-imagenes p {
    top: 0;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    margin: 2px;
    font-size: 1rem;
  }
}
.contenedor-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.caja {
  border: solid 5px #5A4AE3;
  border-radius: 40px;
  width: 500px;
  height: 500px;
  background-color: grey;
  margin: 20px;
  transition: 0.7s;
  padding: 20px;
}
.caja:hover {
  border: solid 5px #5A4AE3;
  background-color: black;
  color: #EFEFEF;
}

.imagen-producto {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.texto-cajas-productos {
  color: #EFEFEF;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
  margin: 20px;
}

.texto-precio {
  font-size: 1.5rem;
  color: #EFEFEF;
}

.contenedor-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
}

.caja {
  border: solid 5px #5A4AE3;
  border-radius: 40px;
  width: 500px;
  height: 500px;
  background-color: grey;
  margin: 20px;
  transition: 0.7s;
  padding: 20px;
}
.caja:hover {
  border: solid 5px #5A4AE3;
  background-color: black;
  color: #EFEFEF;
}

.imagen-accesorio {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.texto-cajas-accesorio {
  color: #EFEFEF;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
  margin: 20px;
}

.texto-precio {
  font-size: 1.5rem;
  color: #EFEFEF;
}

@media (max-width: 480px) {
  .caja {
    border: solid 5px #5A4AE3;
    border-radius: 40px;
    width: 400px;
    height: 400px;
    background-color: grey;
    margin: 20px;
    transition: 0.7s;
    padding: 20px;
  }
  .caja:hover {
    border: solid 5px #5A4AE3;
    background-color: black;
    color: #EFEFEF;
  }
  .imagen-accesorio {
    width: 200px;
    height: 200px;
    border-radius: 30px;
  }
  .texto-cajas-accesorio {
    color: #EFEFEF;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    margin: 20px;
  }
  .texto-precio {
    font-size: 1.5rem;
    color: #EFEFEF;
  }
  .botn {
    border: solid 2px black;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #EFEFEF;
    background-color: #5A4AE3;
    padding: 5px 15px;
    transition: 0.7s;
  }
  .botn:hover {
    border: solid 2px black;
    background-color: #EFEFEF;
    color: #5A4AE3;
  }
  .imagen-producto {
    width: 200px;
    height: 200px;
    border-radius: 30px;
  }
  .texto-cajas-productos {
    color: #EFEFEF;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    margin: 20px;
  }
}
.main-nosotros {
  display: flex;
}
.main-nosotros h2 {
  display: none;
}

.nosotros-parrafo {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.main-p-nosotros {
  width: 700px;
  height: auto;
  font-weight: 520;
  font-size: 1.4rem;
  text-align: center;
  margin: 10px;
  padding: 30px;
}

.logo-frive-nosotros {
  width: 160px;
  height: 160px;
  border-radius: 40px;
}

.propiedades-nosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.propiedades-nosotros img {
  margin: 10px;
}

.imagenes-nosotros {
  width: 450px;
  height: 300px;
  border-radius: 40px;
}

.propiedades-nosotros-responsive {
  display: none;
}

@media (max-width: 480px) {
  .main-nosotros {
    align-items: center;
    flex-direction: column;
  }
  .main-nosotros h2 {
    display: flex;
    background-color: #5A4AE3;
    width: 100%;
    justify-content: center;
    padding: 30px;
    font-size: 3rem;
    color: #EFEFEF;
    font-weight: 800;
  }
  .main-p-nosotros {
    margin: 0;
    width: 90%;
    height: auto;
    font-size: 1.2rem;
    margin: 10px;
  }
  .propiedades-nosotros-responsive {
    display: flex;
    flex-direction: column;
  }
  .imagenes-nosotros {
    width: 300px;
    height: 210px;
    margin: 10px;
  }
  .logo-frive-nosotros {
    margin: 10px;
  }
  .propiedades-nosotros {
    display: none;
  }
}
.main-soporte {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.main-content {
  width: 70%;
  height: 70%;
  background-color: #5A4AE3;
  border-radius: 40px;
  padding: 10px;
}

.conteiner-formulario textarea {
  resize: none;
  display: flex;
  border-radius: 10px;
  font-size: 1.3rem;
  width: 100%;
  height: 200px;
  border: solid black 1px;
}

@media (max-width: 480px) {
  .main-soporte {
    margin: 50px 0;
  }
  .main-content {
    width: 90%;
    height: 90%;
    background-color: #5A4AE3;
    border-radius: 40px;
    padding: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
