* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  padding: 30px;
}

.caja {
  font-size: 2rem;

  /* Modelado de caja */
  border: solid 3px black;

  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedor {
  width: 600px;
  margin-top: 20px;

  border: solid 3px black;

  padding: 2px;
}

.cien-px {
  width: 100px;
  background-color: red;
}

.cincuenta-porciento {
  background-color: green;
  width: 50%;
}

.cincuenta-vw {
  background-color: coral;
  width: 50vw;
}

.cincuenta-vh {
  background-color: aqua;
  height: 25vh;
}
