header {
  background-color: coral;

  border: solid 3px black;
  position: sticky;
  top: 0px;

  /* z-index: 1; */
}

.contenedor {
  background-color: violet;
  border: solid 3px black;

  height: 200vh;

  position: relative;
}

.caja {
  width: 200px;
  height: 200px;

  background-color: red;
  border: solid 3px black;

  margin: 20px;
}

.caja--position {
  font-size: 2rem;
  background-color: aqua;

  position: sticky;
  top: 20px;
}
