.contenedor-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}

.caja {
    border: solid 5px #5A4AE3;
    border-radius: 40px;
    width: 500px;
    height: 500px;
    background-color: grey;
    margin: 20px;
    transition: 0.7s;
    padding: 20px;

    &:hover {
        border: solid 5px #5A4AE3;
        background-color: black;
        color: #EFEFEF;
    }
}

.imagen-accesorio {
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.texto-cajas-accesorio {
    color: #EFEFEF;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    margin: 20px;
}

.texto-precio {
    font-size: 1.5rem;
    color: #EFEFEF;
}

@media (max-width:480px) {
    .caja {
        border: solid 5px #5A4AE3;
        border-radius: 40px;
        width: 400px;
        height: 400px;
        background-color: grey;
        margin: 20px;
        transition: 0.7s;
        padding: 20px;
    }

    .caja:hover {
        border: solid 5px #5A4AE3;
        background-color: black;
        color: #EFEFEF;
    }

    .imagen-accesorio {
        width: 200px;
        height: 200px;
        border-radius: 30px;
    }

    .texto-cajas-accesorio {
        color: #EFEFEF;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 1px 1px 0px black;
        margin: 20px;
    }

    .texto-precio {
        font-size: 1.5rem;
        color: #EFEFEF;
    }

    .botn {
        border: solid 2px black;
        border-radius: 20px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #EFEFEF;
        background-color: #5A4AE3;
        padding: 5px 15px;
        transition: 0.7s;
    }

    .botn:hover {
        border: solid 2px black;
        background-color: #EFEFEF;
        color: #5A4AE3;
    }
    .imagen-producto {
        width: 200px;
        height: 200px;
        border-radius: 30px;
    }
    
    .texto-cajas-productos {
        color: #EFEFEF;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 1px 1px 0px black;
        margin: 20px;
    }
}