
footer div a {
    background-color: #525456;
    margin: 0px 60px;

}

.socials {
    display: flex;
    justify-content: center;
    background-color: #525456;
    padding: 20px;
}

footer article {
    display: flex;
    justify-content: center;
    background-color: #3C3C35;
    color: #EFEFEF;
}

.texto-footer {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.socials a i {
    font-size: 2rem;
    color: white;
    transition: 0.2s;
    &:hover{
        color: #5A4AE3;
    }
}
